Repository bidon-io/bidon_backend: changes, and which Codecov flags are due for each by the changed paths.
All: go-api, rust-proxy, web-ui

[BDN-XXX] Allow all adapters for test app (#805)
  internal/sdkapi/v2/apihandlers/config_handler.go
Due: go-api

[DO-3211] Build copilot (#803)
  .github/workflows/prod-build.yml
  Makefile
Due: none

[BDN-1019] Initial structure (#804)
  .golangci.yml
  go.mod
  go.sum
  internal/auction/mocks/service_mocks.go
  internal/notification/handler.go
  internal/notification/handler_test.go
  internal/notification/mocks/mocks.go
  internal/sdkapi/v2/apihandlers/loss_handler.go
  internal/sdkapi/v2/apihandlers/loss_handler_test.go
  internal/sdkapi/v2/apihandlers/mocks/loss_mocks.go
  internal/sdkapi/v2/apihandlers/mocks/win_mocks.go
  internal/sdkapi/v2/apihandlers/win_handler.go
  internal/sdkapi/v2/apihandlers/win_handler_test.go
Due: go-api

[BDN-1034] Add Inmobi bidding network (#800)
  internal/admin/demand_source_account_test.go
  internal/admin/line_item_test.go
  internal/bidding/adapters/inmobi/inmobi.go
  internal/bidding/adapters/inmobi/inmobi_test.go
  internal/bidding/adapters_builder/adapters_builder.go
  web/bidon_ui/components/demand_source_accounts/DemandSourceAccountExtraFormFields.vue
Due: go-api, web-ui

[BDN-1034] Add InMobi to Bidding networks list (#808)
  web/bidon_ui/components/form/NetworkAccordion.vue
Due: web-ui

[BDN-1016] Introduce copilot UI (#793)
  README.md
  cmd/bidon-admin/main.go
  copilot/README.md
  web/bidon_ui/components/layouts/SidebarNavigation.vue
  web/bidon_ui/composables/useCopilotStore.ts
  web/bidon_ui/middleware/admin-only.ts
  web/bidon_ui/nuxt.config.ts
  web/bidon_ui/package.json
  web/bidon_ui/pages/copilot/index.vue
  web/bidon_ui/yarn.lock
Due: go-api, web-ui

[BDN-1016] Fix copilot url (#809)
  .env.sample
  cmd/bidon-admin/main.go
Due: go-api

[BDN-1037] Add new fields and use them in bidding (#810)
  cmd/bidon-migrate/migrations/20250903120000_add_store_fields_to_apps.sql
  internal/admin/admin.go
  internal/admin/api/api.gen.go
  internal/admin/app.go
  internal/admin/demand_source.go
  internal/admin/demand_source_account.go
  internal/admin/openapi/schemas/app-props.schema.json
  internal/admin/resource.go
  internal/admin/resource_scopes.go
  internal/admin/store/app_repo.go
  internal/admin/user.go
  internal/auction/builder.go
  internal/auction/builder_test.go
  internal/auction/service.go
  internal/auction/service_test.go
  internal/auction/store/ad_units_matcher.go
  internal/auction/store/ad_units_matcher_test.go
  internal/bidding/adapters_builder/adapters_builder.go
  internal/bidding/builder.go
  internal/bidding/builder_test.go
  internal/db/apps.gen.go
  internal/db/gen/gen.go
  internal/notification/handler.go
  internal/sdkapi/grpc/server.go
  internal/sdkapi/sdkapi.go
  internal/sdkapi/store/store.go
  internal/sdkapi/v2/api/server.go
  internal/sdkapi/v2/apihandlers/auction_handler.go
  internal/sdkapi/v2/apihandlers/base_handler.go
  internal/sdkapi/v2/apihandlers/config_handler.go
  internal/sdkapi/v2/apihandlers/loss_handler.go
  internal/sdkapi/v2/apihandlers/show_handler.go
  internal/sdkapi/v2/apihandlers/stats_handler.go
  internal/sdkapi/v2/apihandlers/win_handler.go
  internal/segment/segment.go
  web/bidon_ui/components/apps/AppForm.vue
  web/bidon_ui/pages/apps/[id]/index.vue
  web/bidon_ui/pages/apps/index.vue
Due: go-api, web-ui

[BDN-1041] Add Bidon ReadApi planner (#813)
  cmd/bidon-admin/main.go
  copilot/pyproject.toml
  copilot/src/agent/graph.py
  internal/admin/echo/echo.go
Due: go-api

[BDN-XXXX] fix copilot config (#816)
  copilot/src/agent/graph.py
Due: none

[BDN-XXXX] fix copilot domain (#817)
  copilot/src/agent/graph.py
Due: none

[BDN-XXXX] fix copilot headers (#818)
  copilot/langgraph.json
Due: none

[BDN-1041] Add cancel conversatioon for copilot (#820)
  copilot/.env.example
  copilot/src/agent/graph.py
  web/bidon_ui/pages/copilot/index.vue
Due: web-ui

[BDN-1041] Fix copilot headers config (#821)
  copilot/langgraph.json
  copilot/src/agent/graph.py
Due: none

[BDN-1041] Fix copilot headers config (#822)
  copilot/langgraph.json
  copilot/src/agent/graph.py
Due: none

[BDN-1054] Add TaurusX RTB support to auction and config endpoints (#814)
  cmd/bidon-sdkapi/main.go
  cmd/bidon-seed/seeds/20250325114723_demand_sources.sql
  internal/adapter/adapter.go
  internal/admin/api/api.gen.go
  internal/admin/app_demand_profile.go
  internal/admin/line_item.go
  internal/admin/openapi/schemas/adapter-key.schema.json
  internal/admin/openapi/schemas/line-item-extra.schema.json
  internal/bidding/adapters/taurusx/taurusx.go
  internal/bidding/adapters/taurusx/taurusx_test.go
  internal/bidding/adapters_builder/adapters_builder.go
  internal/bidding/builder.go
  internal/db/dbtest/app_demand_profile_factory.go
  internal/db/dbtest/demand_source_account_factory.go
  internal/sdkapi/adapter_init_config.go
  internal/sdkapi/store/store.go
  internal/sdkapi/store/store_test.go
  internal/sdkapi/v2/apihandlers/config_handler_test.go
  web/bidon_ui/components/app_demand_profiles/AppDemandProfileDataFormFields.vue
  web/bidon_ui/components/auction_configurations/NetworksDisplay.vue
  web/bidon_ui/components/form/DemandSourceTypeDropdown.vue
  web/bidon_ui/components/form/NetworkAccordion.vue
  web/bidon_ui/components/line_items/LineItemExtraFormFields.vue
Due: go-api, web-ui

[BDN-1054] Taurusx update placement_ids, channel (#823)
  internal/sdkapi/adapter_init_config.go
  internal/sdkapi/store/store.go
  internal/sdkapi/store/store_test.go
  internal/sdkapi/v2/apihandlers/config_handler_test.go
Due: go-api

[BDN-XXX] Log curl to taurus (#824)
  internal/bidding/adapters/taurusx/taurusx.go
Due: go-api

Revert "[BDN-XXX] Log curl to taurus (#824)" (#825)
  internal/bidding/adapters/taurusx/taurusx.go
Due: go-api

Path conditions:
  go-api: any of: cmd, internal, config, go.mod, go.sum, but not: **/*.pb.go, **/*.gen.go, **/*mocks.go
  rust-proxy: any of: proxy, build.rs, Cargo.toml, Cargo.lock, but not: **/*.pb.go, **/*.gen.go, **/*mocks.go
  web-ui: any of: web/bidon_ui, but not: **/*.pb.go, **/*.gen.go, **/*mocks.go
