Repository bidon-io/bidon_backend: changes, and which Codecov flags are due for each by the changed paths.
All: go-api, rust-proxy, web-ui

[BDN-847] Apply max PriceFloor (#657)
  .codecov.yml
  cmd/bidon-sdkapi/main.go
  go.mod
  go.sum
  internal/auction/auction.go
  internal/auction/store/config_fetcher.go
  internal/auctionv2/builder.go
  internal/auctionv2/builder_test.go
  internal/auctionv2/mocks/mocks.go
  internal/auctionv2/mocks/service_mocks.go
  internal/auctionv2/service.go
  internal/auctionv2/service_test.go
  internal/bidding/adapters/bidmachine/bidmachine.go
  internal/bidding/adapters/bigoads/bigoads.go
  internal/bidding/adapters/helpers.go
  internal/bidding/adapters/meta/meta.go
  internal/bidding/adapters/mintegral/mintegral.go
  internal/bidding/adapters/mobilefuse/mobilefuse.go
  internal/bidding/adapters/vkads/vkads.go
  internal/bidding/adapters/vkads/vkads_test.go
  internal/bidding/adapters/vungle/vungle.go
  internal/bidding/builder.go
  internal/sdkapi/grpc/mocks/mocks.go
  internal/sdkapi/grpc/server_test.go
  internal/sdkapi/schema/auction_v2_request.go
  internal/sdkapi/v1/apihandlers/mocks/stats_mocks.go
  internal/sdkapi/v2/apihandlers/auction_handler_test.go
Due: go-api

[APDX-11538] Added Docker build for bidon-proxy (#648)
  .github/workflows/rust.yml
  Dockerfile
  docker-compose-prod.yml
  docker-compose.yml
Due: none

[BDN-849] Experiment with admob pricefloor (#659)
  internal/auctionv2/builder.go
  internal/auctionv2/builder_test.go
  internal/bidding/builder.go
Due: go-api

[BDN-XXX] Fix auction floor fetching from DB (#660)
  internal/auction/builder_test.go
  internal/auction/builder_v2_test.go
  internal/auction/mocks/mocks.go
  internal/auction/mocks/mocks_deprecated.go
  internal/auction/store/ad_units_matcher.go
  internal/auction/store/ad_units_matcher_test.go
  internal/auction/store/config_fetcher.go
  internal/auction/store/config_fetcher_test.go
  internal/auction/store/line_items_matcher.go
  internal/auction/store/line_items_matcher_test.go
Due: go-api

[BDN-XXX] Put bidding units in first place in auction
  internal/auctionv2/service.go
  internal/auctionv2/service_test.go
  internal/sdkapi/v1/apihandlers/auction_handler_test.go
  internal/sdkapi/v2/apihandlers/auction_handler_test.go
  internal/sdkapi/v2/apihandlers/testdata/auction/valid_response.json
Due: go-api

[BDN-850] Add telemetry for gRPC (#658)
  cmd/bidon-sdkapi/main.go
  config/grpc.go
  go.mod
  go.sum
  internal/sdkapi/grpc/server.go
Due: go-api

[BDN-XXX] Set unit timeout to 6 seconds (#663)
  internal/auction/store/ad_units_matcher.go
  internal/sdkapi/v2/apihandlers/testdata/auction/valid_response.json
  internal/sdkapi/v2/apihandlers/testdata/auction/valid_response_coppa.json
Due: go-api

[APDX-11718] Migrate adapter to ADCOM based ad placement modeling (#661)
  internal/sdkapi/grpc/adapter.go
  internal/sdkapi/grpc/adapter_test.go
  internal/sdkapi/grpc/test_helpers_test.go
  pkg/proto/org/bidon/proto/v1/mediation/mediation.pb.go
  proxy/src/adapter/adapter.rs
  proxy/src/handlers/auction.rs
Due: go-api, rust-proxy

[BDN-XXX] Add mintegral line_items import (#664)
  internal/admin/line_item.go
Due: go-api

[BDN-854] Provide Bidon Server Deployment Documentation (#665)
  .env.sample
  README.md
  docker-compose-prod.yml
  scripts/init-admin.sh
Due: none

Fix in dockerfile (#667)
  Dockerfile
  proxy/src/infrastructure/server.rs
  proxy/src/main.rs
Due: rust-proxy

[BDN-XXX] Remove BM from JoinBlocks iOS temp (#668)
  internal/sdkapi/v2/apihandlers/config_handler.go
Due: go-api

[BDN-853] Extract Global Meta creds (#669)
  .env.sample
  cmd/bidon-sdkapi/main.go
  config/demand.go
  internal/admin/app_demand_profile.go
  internal/admin/app_demand_profile_test.go
  internal/bidding/adapters/meta/meta.go
  internal/bidding/adapters/meta/meta_test.go
  internal/bidding/adapters_builder/adapters_builder.go
  internal/sdkapi/adapter_init_config.go
  internal/sdkapi/store/store_test.go
  internal/sdkapi/v1/apihandlers/config_handler_test.go
  internal/sdkapi/v2/apihandlers/config_handler_test.go
  internal/sdkapi/v2/router.go
  web/bidon_ui/components/app_demand_profiles/AppDemandProfileDataFormFields.vue
Due: go-api, web-ui

[DO-2750] Staging proxy (#666)
  .github/workflows/prod-build.yml
  Makefile
Due: none

Fix visibility in bidon proxy (#670)
  proxy/src/adapter/adapter.rs
  proxy/src/adapter/mod.rs
  proxy/src/lib.rs
Due: rust-proxy

[BDN-XXX] Allow empty segment for gRPC (#672)
  internal/sdkapi/grpc/adapter.go
Due: go-api

[BDN-XXX] Add Sentry errors to proxy
  Cargo.lock
  Cargo.toml
  proxy/src/infrastructure/config.rs
  proxy/src/infrastructure/server.rs
  proxy/src/lib.rs
  proxy/src/main.rs
Due: rust-proxy

[DO-2750] Staging prod mirror (#675)
  .github/workflows/stage-build.yml
Due: none

[BDN-860] Add pagination for line_items
  go.mod
  go.sum
  internal/admin/api/api.gen.go
  internal/admin/echo/echo.go
  internal/admin/echo/schema.go
  internal/admin/echo/server.go
  internal/admin/line_item.go
  internal/admin/openapi/openapi.yaml
  internal/admin/openapi/schemas/line-item-list-response.schema.json
  internal/admin/openapi/schemas/pagination.schema.json
  internal/admin/resource.go
  internal/admin/resource_scopes.go
  internal/admin/store/line_item_repo.go
  internal/admin/store/pagination.go
  internal/admin/store/resource_repo.go
Due: go-api

[BDN-860] Add spec
  internal/admin/resource_mocks_test.go
  internal/admin/store/line_item_repo_test.go
Due: go-api

Path conditions:
  go-api: any of: cmd, internal, config, go.mod, go.sum, but not: **/*.pb.go, **/*.gen.go, **/*mocks.go
  rust-proxy: any of: proxy, build.rs, Cargo.toml, Cargo.lock, but not: **/*.pb.go, **/*.gen.go, **/*mocks.go
  web-ui: any of: web/bidon_ui, but not: **/*.pb.go, **/*.gen.go, **/*mocks.go
