Repository bidon-io/bidon_backend: changes, and which Codecov flags are due for each by the changed paths.
All: go-api, rust-proxy, web-ui

[BDN-845] Add AuctionResponse to OpenRTB adapter (#642)
  internal/sdkapi/grpc/adapter.go
  internal/sdkapi/grpc/adapter_test.go
Due: go-api

Implemented response flow for bidon proxy (#641)
  .github/workflows/rust.yml
  .vscode/launch.json
  Cargo.lock
  Cargo.toml
  build.rs
  pkg/proto/org/bidon/proto/v1/mediation/mediation.pb.go
  proxy/src/adapter/adapter.rs
  proxy/src/bidding/echo.rs
  proxy/src/codec.rs
  proxy/src/extract.rs
  proxy/src/handlers/auction.rs
  proxy/src/infrastructure/config.rs
  proxy/src/lib.rs
  proxy/src/main.rs
  proxy/src/sdk.rs
  proxy/tests/integration_tests.rs
Due: rust-proxy

[BDN-XXX] recreate_indexes_with_deleted_at (#646)
  cmd/bidon-migrate/migrations/20241216132446_recreate_indexes_with_deleted_at.sql
Due: go-api

[BDN-846] Add missing fields to OpenRTB adapter (#647)
  internal/sdkapi/grpc/adapter.go
  internal/sdkapi/grpc/adapter_test.go
  internal/sdkapi/schema/device.go
Due: go-api

Added Docker build for bidon_proxy
  Cargo.lock
  Cargo.toml
  Dockerfile
Due: rust-proxy

[BDN-826] Implement gRPC server (#643)
  cmd/bidon-sdkapi/main.go
  internal/adapter/adapter_test.go
  internal/sdkapi/grpc/adapter_test.go
  internal/sdkapi/grpc/server.go
  internal/sdkapi/grpc/server_test.go
  internal/sdkapi/grpc/test_helpers_test.go
  internal/sdkapi/v2/router.go
Due: go-api

[BDN-XXX] Add bigo line items import (#650)
  internal/admin/line_item.go
Due: go-api

[BDN-XXX] fix auction service dependencies (#651)
  cmd/bidon-sdkapi/main.go
Due: go-api

Fix for no_bids assignment.
  proxy/src/adapter/adapter.rs
  proxy/src/infrastructure/server.rs
Due: rust-proxy

Added rust-test docker compose stage
  .github/workflows/rust.yml
  Dockerfile
  docker-compose-prod.yml
  docker-compose.yml
Due: none

Fix for no_bids assignment. (#653)
  proxy/src/adapter/adapter.rs
  proxy/src/infrastructure/server.rs
Due: rust-proxy

fix cargo dependencies (#654)
  Cargo.lock
  Cargo.toml
Due: rust-proxy

Added Docker build for bidon_proxy
  Dockerfile
Due: none

Replace rust test with test in Docker
  .github/workflows/rust.yml
Due: none

[BDN-XXX] default max cache count 1 (#655)
  internal/sdkapi/store/ad_cache_adapters_filter.go
  internal/sdkapi/store/ad_cache_adapters_filter_test.go
Due: go-api

Improve rust-test docker build speed
  Dockerfile
  docker-compose.yml
Due: none

[BDN-XXX] Actualize docker compose prod
  docker-compose-prod.yml
Due: none

Removed build step
  .github/workflows/rust.yml
Due: none

Path conditions:
  go-api: any of: cmd, internal, config, go.mod, go.sum, but not: **/*.pb.go, **/*.gen.go
  rust-proxy: any of: proxy, build.rs, Cargo.toml, Cargo.lock, but not: **/*.pb.go, **/*.gen.go
  web-ui: any of: web/bidon_ui, but not: **/*.pb.go, **/*.gen.go
