Repository bidon-io/bidon_backend: changes, and which Codecov flags are due for each by the changed paths.
All: go-api, rust-proxy, web-ui

.codecov.yml:

ignore:
  - "**/*.pb.go"
  - "**/*.gen.go"
  - "**/*mocks.go"
component_management:
  individual_components:
    - component_id: go-api
      name: go-api
      paths:
        - cmd
        - internal
        - config
        - go.mod
        - go.sum
    - component_id: rust-proxy
      name: rust-proxy
      paths:
        - proxy
        - build.rs
        - Cargo.toml
        - Cargo.lock
    - component_id: web-ui
      name: web-ui
      paths:
        - web/bidon_ui
flag_management:
  default_rules:
    carryforward: true

[BDN-925] add account_id to account dropdown (#738)
  web/bidon_ui/components/form/DemandSourceAccountDropdown.vue
Due: web-ui

[BDN-926] Make GoBack btn behave like browser history nav (#739)
  web/bidon_ui/components/resources/GoBackButton.vue
  web/bidon_ui/plugins/route-history.js
Due: web-ui

[BDN-926] Add AuctionKey column to AuctionConfigs (#740)
  cmd/bidon-migrate/migrations/20250505073209_add_auction_key_to_auction_configurations.sql
  cmd/bidon-migrate/migrations/20250505073339_fill_auction_key_in_auction_configurations.go
  internal/admin/auction_configuration.go
  internal/admin/auction_configuration_v2.go
  internal/admin/store/auction_configuration_repo.go
  internal/admin/store/auction_configuration_v2_repo.go
  internal/db/auction_configuration_hooks.go
  internal/db/auction_configurations.gen.go
  web/bidon_ui/constants/ResourceTableFields.js
  web/bidon_ui/pages/v2/auction_configurations/index.vue
Due: go-api, web-ui

[BDN-XXX] Fix BackButton [UI] (#741)
  web/bidon_ui/components/resources/GoBackButton.vue
  web/bidon_ui/plugins/route-history.js
Due: web-ui

[APDM-1227] Utilize prev Auction Price for Custom Adapter (#742)
  internal/auctionv2/service.go
  internal/auctionv2/service_price_floor_test.go
  internal/sdkapi/schema/base_request.go
  internal/sdkapi/schema/base_request_test.go
Due: go-api

[BDN-929] Rework Apps page [UI] (#743)
  web/bidon_ui/components/apps/AppForm.vue
  web/bidon_ui/components/resources/AssociatedResourcesLink.vue
  web/bidon_ui/components/resources/GoBackButton.vue
  web/bidon_ui/components/resources/LazyResourcesTable.vue
  web/bidon_ui/components/resources/ResourcesTable.vue
  web/bidon_ui/pages/apps/[id]/index.vue
  web/bidon_ui/pages/apps/index.vue
  web/bidon_ui/plugins/primevue.js
Due: web-ui

[BDN-930] Rework AppDemandProfiles [UI] (#744)
  web/bidon_ui/pages/app_demand_profiles/[id]/index.vue
  web/bidon_ui/pages/app_demand_profiles/index.vue
  web/bidon_ui/utils/jsonToFields.js
Due: web-ui

[APDM-1244] Write mediator to events_log (#746)
  internal/auctionv2/service.go
  internal/auctionv2/service_price_floor_test.go
  internal/sdkapi/event/event.go
  internal/sdkapi/schema/base_request.go
  internal/sdkapi/schema/base_request_test.go
Due: go-api

chore(deps): bump ring from 0.17.8 to 0.17.14 (#745)
  Cargo.lock
Due: rust-proxy

[BDN-XXX] Allow BM CPM to work as usual for given config (#748)
  internal/auctionv2/builder.go
Due: go-api

chore(deps): bump golang.org/x/net from 0.35.0 to 0.38.0 (#735)
  go.mod
  go.sum
Due: go-api

[BDN-935] Remove AuctionConfigurations V1 (#750)
  internal/admin/echo/server.go
  web/bidon_ui/components/auction_configurations/AuctionConfigurationForm.vue
  web/bidon_ui/components/auction_configurations/AuctionConfigurationsForm.vue
  web/bidon_ui/components/layouts/SidebarNavigation.vue
  web/bidon_ui/components/resources/AssociatedResourcesLink.vue
  web/bidon_ui/pages/auction_configurations/[id]/edit.vue
  web/bidon_ui/pages/auction_configurations/[id]/index.vue
  web/bidon_ui/pages/auction_configurations/index.vue
  web/bidon_ui/pages/auction_configurations/new.vue
  web/bidon_ui/pages/v2/auction_configurations/[id]/edit.vue
  web/bidon_ui/pages/v2/auction_configurations/new.vue
Due: go-api, web-ui

[BDN-936] Rework AuctionConfigs Pages (#752)
  web/bidon_ui/components/auction_configurations/AuctionConfigurationsForm.vue
  web/bidon_ui/components/auction_configurations/NetworksDisplay.vue
  web/bidon_ui/components/form/NetworkAccordion.vue
  web/bidon_ui/components/resources/ResourceCard.vue
  web/bidon_ui/pages/v2/auction_configurations/[id]/index.vue
  web/bidon_ui/pages/v2/auction_configurations/index.vue
Due: web-ui

chore(deps): bump github.com/getkin/kin-openapi from 0.129.0 to 0.131.0 (#753)
  go.mod
  go.sum
Due: go-api

[BDN-937] Hide countries resource from UI (#754)
  web/bidon_ui/components/layouts/SidebarNavigation.vue
  web/bidon_ui/pages/demand_sources/index.vue
Due: web-ui

[BDN-938] Rework Demand Source Accounts UI (#755)
  web/bidon_ui/pages/app_demand_profiles/[id]/index.vue
  web/bidon_ui/pages/demand_source_accounts/[id]/index.vue
  web/bidon_ui/pages/demand_source_accounts/index.vue
  web/bidon_ui/utils/jsonToFields.js
Due: web-ui

[BDN-939] Rework line items UI (#756)
  internal/admin/store/line_item_repo.go
  web/bidon_ui/components/auction_configurations/NetworksDisplay.vue
  web/bidon_ui/components/form/NetworkAccordion.vue
  web/bidon_ui/components/line_items/LineItemForm.vue
  web/bidon_ui/components/resources/LazyResourcesTable.vue
  web/bidon_ui/constants/ResourceCardFields.js
  web/bidon_ui/constants/ResourceTableFields.js
  web/bidon_ui/pages/line_items/[id]/index.vue
  web/bidon_ui/pages/line_items/index.vue
  web/bidon_ui/utils/filterUtils.js
Due: go-api, web-ui

[BDN-940] Rework Semgents and Users Pages (#757)
  web/bidon_ui/components/layouts/SidebarNavigation.vue
  web/bidon_ui/pages/segments/index.vue
  web/bidon_ui/pages/users/index.vue
Due: web-ui

Add support for LevelPlay mediator for CA (#758)
  internal/auctionv2/service.go
  internal/auctionv2/service_price_floor_test.go
  internal/sdkapi/schema/base_request_test.go
Due: go-api

[APDM-1222] kafka_connect to export to s3 (#747)
  .env.sample
  .gitignore
  docker-compose-prod.yml
  docker/kafka-connect/Dockerfile
  docker/kafka-connect/connector-config.template.json
  docker/kafka-connect/create-connector.sh
Due: none
