Repository bidon-io/bidon_backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdkapi-openapi-codegen, admin-openapi-codegen, golangci-lint, go-mod-tidy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sdkapi-openapi-codegen
        name: Run go generate for SDK API code when OpenAPI spec changes
        entry: go generate ./internal/sdkapi/v2/api/server.go
        language: system
        files: ^internal/sdkapi/v2/openapi/.*\.(yaml|json)$
        pass_filenames: false
      - id: admin-openapi-codegen
        name: Run go generate for Admin API code when OpenAPI spec changes
        entry: go generate ./internal/admin/api/generate.go
        language: system
        files: ^internal/admin/openapi/.*\.(yaml|json)$
        pass_filenames: false
      - id: buf-generate
        name: Run buf generate for proto files
        entry: buf generate
        language: system
        pass_filenames: false
      - id: golangci-lint
        name: Run golangci-lint on modified files
        description: Only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
        entry: golangci-lint run --new-from-rev HEAD --fix
        types: [ go ]
        language: golang
        require_serial: true
        pass_filenames: false
      - id: go-mod-tidy
        name: Run go mod tidy
        entry: go mod tidy
        types: [ go ]
        language: golang
        pass_filenames: false

Fix gh command (#715)
  .github/workflows/release.yml
Due: none

[DO-2952] Nightly version tag (#716)
  .github/workflows/prod-build-deploy.yml
Due: none

[DO-2952] Fix
  .github/workflows/prod-build-deploy.yml
Due: none

Revert "[DO-2952] Nightly version tag (#716)"
  .github/workflows/prod-build-deploy.yml
Due: none

Revert "[DO-2952] Nightly version tag (#716)" (#718)
  .github/workflows/prod-build-deploy.yml
Due: none

[BDN-917] Add seed migrations (#709)
  Dockerfile
  cmd/bidon-seed/main.go
  cmd/bidon-seed/seeds/20250325114711_countries.sql
  cmd/bidon-seed/seeds/20250325114723_demand_sources.sql
  docker-compose-prod.yml
Due: golangci-lint, go-mod-tidy

Change nightly versioning and generate notes (#719)
  .github/workflows/release-nightly.yml
Due: none

[DO-2952] Move stage images
  .github/workflows/stage-build.yml
Due: none

[BDN-XXX] Update OpenAPI for Inventory API (#722)
  internal/admin/openapi/openapi.yaml
  internal/admin/openapi/schemas/api-key.schema.json
  internal/admin/openapi/schemas/app-detailed.schema.json
  internal/admin/openapi/schemas/line-item-detailed.schema.json
  internal/admin/openapi/schemas/resource-instance-permissions.schema.json
  internal/admin/openapi/schemas/resource-permissions.schema.json
  internal/admin/openapi/schemas/resources.schema.json
Due: admin-openapi-codegen

Update release deploy flow (#721)
  .github/workflows/prod-build-deploy.yml
  .github/workflows/prod-build.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/release-nightly.yml
  .github/workflows/stage-build.yml
  .golangci.yml
  Makefile
Due: none

Fix anchors
  .github/workflows/prod-build.yml
Due: none

Fix required input
  .github/workflows/prod-build.yml
Due: none

Fix typo bidon-sdkapi
  .github/workflows/prod-build.yml
Due: none

Improve deploy workflows (#727)
  .github/workflows/prod-build-deploy.yml
  .github/workflows/prod-build.yml
  .github/workflows/prod-deploy.yml
Due: none

[DO-2952] Move stage images (#726)
  .github/workflows/prod-build.yml
  .github/workflows/stage-build.yml
Due: none

[DO-2952] Test single branch sync (#728)
  .github/workflows/trivy.yml
Due: none

[BDN-920] Check connection to services in /health_checks (#729)
  cmd/bidon-admin/main.go
  cmd/bidon-sdkapi/main.go
  config/echo.go
  config/echo_test.go
  config/redis.go
  internal/admin/api/api.gen.go
  internal/db/db.go
  internal/sdkapi/event/engine/kafka.go
  internal/sdkapi/event/engine/log.go
  internal/sdkapi/event/logger.go
Due: golangci-lint, go-mod-tidy

[APDM-1140] Add endpoint info to API creds (#730)
  web/bidon_ui/components/layouts/SidebarNavigation.vue
  web/bidon_ui/components/resources/ResourceCard.vue
  web/bidon_ui/pages/api_keys/[id]/index.vue
Due: none

[APDM-945] Fix filters not loaded from query for lazy table component (#736)
  web/bidon_ui/components/resources/LazyResourcesTable.vue
Due: none

[BDN-923] Allow to create non-default AuctionConfigs without segment (#737)
  internal/db/auction_configuration_hooks.go
Due: golangci-lint, go-mod-tidy
