Repository bidon-io/bidon_backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdkapi-openapi-codegen, admin-openapi-codegen

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sdkapi-openapi-codegen
        name: Run go generate for SDK API code when OpenAPI spec changes
        entry: go generate ./internal/sdkapi/v2/api/server.go
        language: system
        files: internal/sdkapi/v2/openapi/openapi.yaml
        pass_filenames: false
      - id: admin-openapi-codegen
        name: Run go generate for Admin API code when OpenAPI spec changes
        entry: go generate ./internal/admin/api/generate.go
        language: system
        files: internal/admin/openapi/openapi.yaml
        pass_filenames: false

[BDN-XXX] Fix root path (#556)
  cmd/bidon-admin/main.go
Due: none

[BDN-XXX] Add X-Bidon header and remove redoc (#557)
  cmd/bidon-admin/main.go
  cmd/bidon-sdkapi/main.go
  internal/admin/api/api.gen.go
  internal/admin/openapi/index.html
  internal/admin/openapi/openapi.yaml
  internal/sdkapi/sdkapi.go
  internal/sdkapi/v2/api/api.gen.go
  internal/sdkapi/v2/api/server.go
  internal/sdkapi/v2/api/server_test.go
  internal/sdkapi/v2/openapi/index.html
  internal/sdkapi/v2/openapi/openapi.go
  internal/sdkapi/v2/openapi/openapi.yaml
Due: sdkapi-openapi-codegen, admin-openapi-codegen

[BDN-XXX] Fix OpenAPI line_items route (#558)
  internal/admin/api/api.gen.go
  internal/admin/openapi/openapi.yaml
Due: admin-openapi-codegen

[BDN-XXX] Remove Amazon config for Merge Block iOS app (#559)
  internal/sdkapi/store/store.go
Due: none

[BDN-XXX] Remove MobileFuse AppKey (#560)
  web/bidon_ui/components/app_demand_profiles/AppDemandProfileDataFormFields.vue
Due: none

[BDN-756] Fix empty auction price floor field in stats (#561)
  .pre-commit-config.yaml
  internal/sdkapi/schema/ad_object.go
  internal/sdkapi/schema/adapters.go
  internal/sdkapi/schema/app.go
  internal/sdkapi/schema/auction_request.go
  internal/sdkapi/schema/base_request.go
  internal/sdkapi/schema/bid.go
  internal/sdkapi/schema/config_request.go
  internal/sdkapi/schema/device.go
  internal/sdkapi/schema/geo.go
  internal/sdkapi/schema/regulations.go
  internal/sdkapi/schema/segment.go
  internal/sdkapi/schema/session.go
  internal/sdkapi/schema/show_request.go
  internal/sdkapi/schema/user.go
  internal/sdkapi/v2/api/api.gen.go
  internal/sdkapi/v2/openapi/schemas/bid.schema.json
Due: none

[BDN-759] Send video object to Bidmachine in BidRequest (#562)
  internal/bidding/adapters/bidmachine/bidmachine.go
Due: none

[BDN-759] Fix Bidmachine adapter test (#563)
  internal/bidding/adapters/bidmachine/bidmachine_test.go
Due: none

[BDN-XXX] Allow amazon for 0.7.0-0-next.3 MB (#564)
  internal/sdkapi/store/store.go
  internal/sdkapi/v2/apihandlers/config_handler.go
Due: none

[BDN-XXX] fix Allow amazon for 0.7.0-0-next.3 MB (#565)
  internal/sdkapi/store/store.go
Due: none
