Repository bidon-io/bidon_backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdkapi-openapi-codegen, admin-openapi-codegen, golangci-lint, go-mod-tidy

sdkapi-openapi-codegen:
  name: Run go generate for SDK API code when OpenAPI spec changes
  entry: go generate ./internal/sdkapi/v2/api/server.go
  language: system
  pass_filenames: false

admin-openapi-codegen:
  name: Run go generate for Admin API code when OpenAPI spec changes
  entry: go generate ./internal/admin/api/generate.go
  language: system
  pass_filenames: false

golangci-lint:
  name: Run golangci-lint on modified files
  description: Only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
  entry: golangci-lint run --new-from-rev HEAD --fix
  language: golang
  require_serial: true
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: go mod tidy
  language: golang
  pass_filenames: false

[BDN-XXXX] Add uv.lock to copilot (#827)
  copilot/.gitignore
  copilot/uv.lock
Due: none

[BDN-XXXX] pin dependencies (#828)
  copilot/pyproject.toml
  copilot/uv.lock
Due: none

[BDN-XXX] use test endpoint for taurus (#829)
  internal/bidding/adapters/taurusx/taurusx.go
  internal/bidding/adapters/taurusx/taurusx_test.go
Due: golangci-lint, go-mod-tidy

[BDN-XXX] update taurusx payload parsing from ext (#830)
  internal/bidding/adapters/taurusx/taurusx.go
  internal/bidding/adapters/taurusx/taurusx_test.go
Due: golangci-lint, go-mod-tidy

[BDN-1063] Make UserAgent optional (#832)
  go.mod
  go.sum
  internal/sdkapi/schema/device.go
Due: golangci-lint, go-mod-tidy

[BDN-1587] Add OpenRTB blocked advertiser/category/app fields (#833)
  cmd/bidon-migrate/migrations/20250507120000_add_openrtb_blocked_fields_to_apps.sql
  internal/admin/api/api.gen.go
  internal/admin/app.go
  internal/admin/openapi/schemas/app-props.schema.json
  internal/admin/store/app_repo.go
  internal/db/apps.gen.go
  internal/sdkapi/sdkapi.go
  internal/sdkapi/store/store.go
  web/bidon_ui/components/apps/AppForm.vue
  web/bidon_ui/pages/apps/[id]/index.vue
Due: admin-openapi-codegen, golangci-lint, go-mod-tidy

[APDM-1591] Use badv bcat bapp in BidRequest (#834)
  internal/auction/service.go
  internal/bidding/builder.go
  internal/sdkapi/event/event.go
  internal/sdkapi/sdkapi.go
Due: golangci-lint, go-mod-tidy

[BDN-1058] Add Start.io network (#826)
  cmd/bidon-seed/seeds/20250325114723_demand_sources.sql
  internal/adapter/adapter.go
  internal/admin/api/api.gen.go
  internal/admin/app_demand_profile.go
  internal/admin/demand_source_account.go
  internal/admin/line_item.go
  internal/admin/openapi/schemas/adapter-key.schema.json
  internal/admin/openapi/schemas/line-item-extra.schema.json
  internal/bidding/adapters/geo/geo.go
  internal/bidding/adapters/startio/startio.go
  internal/bidding/adapters/startio/startio_test.go
  internal/bidding/adapters_builder/adapters_builder.go
  internal/db/dbtest/app_demand_profile_factory.go
  internal/db/dbtest/demand_source_account_factory.go
  internal/sdkapi/adapter_init_config.go
  internal/sdkapi/store/store_test.go
  web/bidon_ui/components/app_demand_profiles/AppDemandProfileDataFormFields.vue
  web/bidon_ui/components/auction_configurations/NetworksDisplay.vue
  web/bidon_ui/components/demand_source_accounts/DemandSourceAccountExtraFormFields.vue
  web/bidon_ui/components/form/DemandSourceTypeDropdown.vue
  web/bidon_ui/components/form/NetworkAccordion.vue
  web/bidon_ui/components/line_items/LineItemExtraFormFields.vue
Due: admin-openapi-codegen, golangci-lint, go-mod-tidy

[BDN-XXX] Copilot fix UI Frozen (#835)
  copilot/src/agent/graph.py
  web/bidon_ui/pages/copilot/index.vue
Due: none

[BDN-1073] Yandex RTB Integration (#836)
  internal/admin/app_demand_profile.go
  internal/admin/demand_source_account.go
  internal/auction/service.go
  internal/auction/service_test.go
  internal/bidding/adapters/yandex/yandex.go
  internal/bidding/adapters/yandex/yandex_test.go
  internal/bidding/adapters_builder/adapters_builder.go
  web/bidon_ui/components/app_demand_profiles/AppDemandProfileDataFormFields.vue
  web/bidon_ui/components/form/NetworkAccordion.vue
  web/bidon_ui/components/line_items/LineItemExtraFormFields.vue
Due: golangci-lint, go-mod-tidy

[BDN-XXX] Add AppKey alias of SDKKey for Applovin config (#839)
  internal/sdkapi/adapter_init_config.go
  internal/sdkapi/store/store.go
  internal/sdkapi/store/store_test.go
  web/bidon_ui/components/demand_source_accounts/DemandSourceAccountExtraFormFields.vue
Due: golangci-lint, go-mod-tidy

[BDN-1077] Set bapp, bcat, badv fields to BM Unit (#838)
  internal/auction/service.go
  internal/auction/service_test.go
Due: golangci-lint, go-mod-tidy

[APDM-1632] Add expiremental fields to applovin config (#840)
  internal/sdkapi/adapter_init_config.go
  internal/sdkapi/v2/apihandlers/config_handler.go
Due: golangci-lint, go-mod-tidy

[BDN-XXXX] Use slices for BM blocking fields (#841)
  internal/auction/service.go
Due: golangci-lint, go-mod-tidy

[BDN-XXX] Increase ad unit timeouts JoinBlocks (#842)
  internal/auction/store/ad_units_matcher.go
Due: golangci-lint, go-mod-tidy

[BDN-1054] Switch taurusx bidding endpoint to prod (#843)
  internal/bidding/adapters/taurusx/taurusx.go
  internal/bidding/adapters/taurusx/taurusx_test.go
Due: golangci-lint, go-mod-tidy

[BDN-1086] Show AdUnits Identifications & link in Auction Config Form (#844)
  web/bidon_ui/components/form/NetworkAccordion.vue
Due: none

[BDN-1088] Fix save cpm unit btn (#845)
  web/bidon_ui/components/form/AppDropdown.vue
  web/bidon_ui/components/line_items/LineItemForm.vue
Due: none

[BDN-1087] Add demand source filter to line items page (#846)
  web/bidon_ui/components/form/DemandSourceTypeDropdown.vue
  web/bidon_ui/constants/DemandSourceOptions.js
  web/bidon_ui/constants/ResourceTableFields.js
  web/bidon_ui/constants/index.js
  web/bidon_ui/pages/line_items/index.vue
Due: none

[BDN-XXX] Rename Bapp -> Bapps in SDK response (#848)
  internal/auction/service.go
Due: golangci-lint, go-mod-tidy

Path conditions:
  sdkapi-openapi-codegen: any of: ^internal/sdkapi/v2/openapi/.*\.(yaml|json)$
  admin-openapi-codegen: any of: ^internal/admin/openapi/.*\.(yaml|json)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: \.go$
