Repository bidon-io/bidon_backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: sdkapi-openapi-codegen, admin-openapi-codegen, golangci-lint, go-mod-tidy

sdkapi-openapi-codegen:
  name: Run go generate for SDK API code when OpenAPI spec changes
  entry: go generate ./internal/sdkapi/v2/api/server.go
  language: system
  pass_filenames: false

admin-openapi-codegen:
  name: Run go generate for Admin API code when OpenAPI spec changes
  entry: go generate ./internal/admin/api/generate.go
  language: system
  pass_filenames: false

golangci-lint:
  name: Run golangci-lint on modified files
  description: Only modified files are linted, so linters like 'unused' that need to scan all files won't work as expected.
  entry: golangci-lint run --new-from-rev HEAD --fix
  language: golang
  require_serial: true
  pass_filenames: false

go-mod-tidy:
  name: Run go mod tidy
  entry: go mod tidy
  language: golang
  pass_filenames: false

[BDN-XXX] Send bidon ssp parameter for mobilefuse (#781)
  internal/bidding/adapters/mobilefuse/mobilefuse.go
  internal/bidding/adapters/mobilefuse/mobilefuse_test.go
Due: golangci-lint, go-mod-tidy

[BDN-998] Add UserAgent and AppSetID to Kafka events (#779)
  internal/sdkapi/event/event.go
  internal/sdkapi/schema/user.go
Due: golangci-lint, go-mod-tidy

[BDN-993] CA price logic test V1 - Disable floors V2 (#782)
  internal/auction/service.go
Due: golangci-lint, go-mod-tidy

[BDN-994] Add Placement ID Support for BidMachine AdUnits in SDK Response (#780)
  internal/admin/api/api.gen.go
  internal/admin/openapi/schemas/line-item-extra.schema.json
  internal/auction/service_test.go
  internal/sdkapi/v2/apihandlers/auction_handler.go
  internal/sdkapi/v2/apihandlers/auction_handler_test.go
  web/bidon_ui/components/line_items/LineItemExtraFormFields.vue
Due: admin-openapi-codegen, golangci-lint, go-mod-tidy

[BDN-993] CA price logic test V1 - Disable floors V3 (#783)
  internal/auction/service.go
Due: golangci-lint, go-mod-tidy

[BDN-XXX] Fix AuctionConfig Edit page (#785)
  web/bidon_ui/components/auction_configurations/AuctionConfigurationsForm.vue
Due: none

[BDN-XXX] Fix AuctionConfig Edit form (#786)
  web/bidon_ui/components/auction_configurations/AuctionConfigurationsForm.vue
Due: none

[APD-XXX] Leave bm only in config for GR (#788)
  internal/sdkapi/v2/apihandlers/config_handler.go
Due: golangci-lint, go-mod-tidy

[APD-XXX] Fix units list update (#789)
  web/bidon_ui/components/auction_configurations/AuctionConfigurationsForm.vue
  web/bidon_ui/components/form/NetworkAccordion.vue
Due: none

[BDN-XXX] Pass extra params to Bidmachine (#790)
  internal/auction/service.go
  internal/bidding/adapters/bidmachine/bidmachine.go
  internal/bidding/adapters/bidmachine/bidmachine_test.go
Due: golangci-lint, go-mod-tidy

[APD-XXX] Return bm only for mb (#791)
  internal/sdkapi/v2/apihandlers/config_handler.go
Due: golangci-lint, go-mod-tidy

[APD-XXX] return_bm_only_for_nm (#792)
  internal/sdkapi/v2/apihandlers/config_handler.go
Due: golangci-lint, go-mod-tidy

[BDN-1027] Validate Mobilefuse BidRequest GEO (#795)
  internal/bidding/adapters/mobilefuse/mobilefuse.go
  internal/bidding/adapters/mobilefuse/mobilefuse_test.go
Due: golangci-lint, go-mod-tidy

[BDN-XXX] Fix ambiguous select sql (#797)
  internal/admin/store/auction_configuration_v2_repo.go
Due: golangci-lint, go-mod-tidy

[BDN-1032] Moloco integration (#796)
  .env.sample
  cmd/bidon-seed/seeds/20250325114723_demand_sources.sql
  config/demand.go
  internal/adapter/adapter.go
  internal/admin/api/api.gen.go
  internal/admin/app_demand_profile.go
  internal/admin/demand_source_account.go
  internal/admin/line_item.go
  internal/admin/openapi/schemas/adapter-key.schema.json
  internal/admin/openapi/schemas/line-item-extra.schema.json
  internal/auction/service.go
  internal/bidding/adapters/moloco/moloco.go
  internal/bidding/adapters/moloco/moloco_test.go
  internal/bidding/adapters_builder/adapters_builder.go
  internal/db/dbtest/app_demand_profile_factory.go
  internal/db/dbtest/demand_source_account_factory.go
  internal/sdkapi/adapter_init_config.go
  internal/sdkapi/store/store_test.go
  web/bidon_ui/components/app_demand_profiles/AppDemandProfileDataFormFields.vue
  web/bidon_ui/components/auction_configurations/NetworksDisplay.vue
  web/bidon_ui/components/demand_source_accounts/DemandSourceAccountExtraFormFields.vue
  web/bidon_ui/components/form/DemandSourceTypeDropdown.vue
  web/bidon_ui/components/form/NetworkAccordion.vue
  web/bidon_ui/components/line_items/LineItemExtraFormFields.vue
Due: admin-openapi-codegen, golangci-lint, go-mod-tidy

[BDN-XXX] Fix moloco on submit btn (#798)
  web/bidon_ui/components/demand_source_accounts/DemandSourceAccountForm.vue
Due: none

[BDN-1032] Moloco fixes with real bids (#799)
  internal/bidding/adapters/bidmachine/bidmachine.go
  internal/bidding/adapters/helpers.go
  internal/bidding/adapters/meta/meta.go
  internal/bidding/adapters/mintegral/mintegral.go
  internal/bidding/adapters/moloco/moloco.go
  internal/bidding/adapters/moloco/moloco_test.go
  internal/bidding/adapters/vungle/vungle.go
Due: golangci-lint, go-mod-tidy

[BDN-XXX] Pass mediation mode to BM (#801)
  internal/adapter/adapter.go
  internal/auction/service.go
  internal/bidding/adapters/bidmachine/bidmachine.go
  internal/bidding/adapters/bidmachine/bidmachine_test.go
Due: golangci-lint, go-mod-tidy

[BDN-1026] Copilot Langgraph Server (#794)
  .env.sample
  cmd/bidon-admin/main.go
  copilot/.codespellignore
  copilot/.env.example
  copilot/.github/workflows/integration-tests.yml
  copilot/.github/workflows/unit-tests.yml
  copilot/.gitignore
  copilot/.python-version
  copilot/Makefile
  copilot/README.md
  copilot/README_AGENT.md
  copilot/langgraph.json
  copilot/pyproject.toml
  copilot/src/agent/__init__.py
  copilot/src/agent/graph.py
  copilot/tests/conftest.py
  copilot/tests/integration_tests/__init__.py
  copilot/tests/integration_tests/test_graph.py
  copilot/tests/unit_tests/__init__.py
  copilot/tests/unit_tests/test_configuration.py
  docker-compose.yml
  docker/redis/entrypoint.sh
Due: golangci-lint, go-mod-tidy

Path conditions:
  sdkapi-openapi-codegen: any of: ^internal/sdkapi/v2/openapi/.*\.(yaml|json)$
  admin-openapi-codegen: any of: ^internal/admin/openapi/.*\.(yaml|json)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: \.go$
